services:
  # Backend Server
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: cctv-server
    restart: unless-stopped
    env_file:
      - ./server/.env
    ports:
      - "5000:5505"
    networks:
      - cctv-network

  # Frontend Client
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: cctv-client
    restart: unless-stopped
    env_file:
      - ./client/.env
    ports:
      - "3000:5506"
    depends_on:
      - server
    networks:
      - cctv-network

networks:
  cctv-network:
    driver: bridge
